<ul class="country-list">
  {{#each this}}
  <li class="country-list__item" style="background: url({{flag}}); 
        background-size: contain; background-repeat: no-repeat; 
        background-clip: border-box;"><span class="country-list__name">{{name }}</span></li>
  {{/each}}
</ul>